<div class="sr-ref-chips" *ngIf="selected.length">
  <span class="sr-ref-chip" *ngFor="let alarm of selected">
    {{ alarm.text }}
    <button type="button" class="btn-icon" (click)="remove(alarm)" [disabled]="disabled" [attr.aria-label]="'Remove' | translate">
      <i c8yIcon="close"></i>
    </button>
  </span>
</div>

<div class="dropdown" dropdown [isDisabled]="disabled">
  <button type="button" class="btn btn-default dropdown-toggle" dropdownToggle>
    {{ 'Select alarms...' | translate }}
  </button>
  <ul *dropdownMenu class="dropdown-menu">
    <li *ngIf="!candidates.length" class="dropdown-header">{{ 'No alarms available' | translate }}</li>
    <li *ngFor="let alarm of candidates">
      <label class="c8y-checkbox">
        <input type="checkbox" [checked]="isSelected(alarm)" (change)="toggle(alarm)" />
        <span></span>
        {{ alarm.text }}
      </label>
    </li>
  </ul>
</div>
