<!-- filter -->
<header>
  <ul class="filter">
    <li>
      <label translate>Status</label>
      <c8y-select
        *ngIf="statusTypes.length"
        container="body"
        style="min-width: 200px"
        [items]="statusTypes"
        [multi]="true"
        [(ngModel)]="selectedStatusTypes"
        (ngModelChange)="onStatusOrSeverityChange()"
      >
      </c8y-select>
    </li>

    <li>
      <label translate>Severity</label>
      <c8y-select
        *ngIf="severityTypes.length"
        container="body"
        style="min-width: 200px"
        [items]="severityTypes"
        [multi]="true"
        [(ngModel)]="selectedSeverityTypes"
        (ngModelChange)="onStatusOrSeverityChange()"
      >
      </c8y-select>
    </li>
  </ul>

  <ul class="actions">
    <li>
      <button
        class="btn btn-link"
        title="{{ 'Reload' | translate }}"
        (click)="reload()"
      >
        <i class="m-r-4 dlt-c8y-icon-refresh"></i>
        <span translate>Reload</span>
      </button>
    </li>

    <li>
      <button
        class="btn btn-link"
        title="{{ 'Realtime' | translate }}"
        (click)="togglePolling()"
      >
        <div class="c8y-realtime ec-high-frequency-indicator">
          <span
            class="c8y-pulse"
            [ngClass]="{
              active: pollingEnabled,
              inactive: !pollingEnabled
            }"
          ></span>
          {{ "Realtime" | translate }}
        </div>
      </button>
    </li>
  </ul>
</header>

<!-- list -->
<div class="alarm-list vertical-scrollbar">
  <ng-container *ngIf="!loading; else loadingData">
    <div class="interact-list list-group">
      <ng-container *ngIf="alarms.length; else noAlarms">
        <div *ngFor="let alarm of alarms" class="list-group-item flex-row">
          <aside class="list-item-icon">
            <sr-alarm-icon
              class="status"
              [alarm]="alarm"
              [display]="'status'"
            ></sr-alarm-icon>
            <sr-alarm-icon
              class="severity"
              [alarm]="alarm"
              [display]="'severity'"
            ></sr-alarm-icon>
          </aside>

          <div class="list-item-body">
            <p>{{ alarm.text }}</p>
            <ul class="details">
              <li
                *ngIf="
                  alarm.count != null &&
                  alarm.count != undefined &&
                  alarm.count > 1
                "
              >
                <span class="badge badge-danger">{{ alarm.count }}</span>
              </li>
              <li>
                <small
                  class="text-muted"
                  [tooltip]="
                    ('Created:' | translate) +
                    ' ' +
                    (alarm.creationTime | c8yDate) +
                    '\n' +
                    ('Occurred:' | translate) +
                    ' ' +
                    (alarm.time | c8yDate) +
                    '\n' +
                    ('Updated' | translate) +
                    ' ' +
                    (alarm['lastUpdated'] | c8yDate)
                  "
                  placement="bottom"
                >
                  <i class="dlt-c8y-icon-clock-o"></i>
                  {{ alarm.creationTime | c8yDate }}
                </small>
              </li>
              <li>
                <a
                  [routerLink]="['/device', alarm.source.id, 'notifications']"
                  class="text-muted"
                >
                  <i class="dlt-c8y-icon-exchange"></i>
                  {{ alarm.source.name }}
                </a>
              </li>
            </ul>
          </div>

          <ul class="list-item-actions">
            <li *ngIf="alarm.status === 'ACTIVE'">
              <a
                class="btn btn-warning btn-xs"
                [tooltip]="'Create service request' | translate"
                [container]="'body'"
                [placement]="'left'"
                (click)="openServiceRequestModal(alarm)"
              >
                <i [c8yIcon]="'online-support'"></i>
              </a>
            </li>
            <li *ngIf="!(alarm.status === 'CLEARED')">
              <button
                type="button"
                class="btn btn-success btn-xs"
                [tooltip]="'Clear' | translate"
                [container]="'body'"
                [placement]="'left'"
                (click)="clearAlarm(alarm)"
              >
                <i class="dlt-c8y-icon-check-circle"></i>
              </button>
            </li>
          </ul>
        </div>
        <div *ngIf="loadMore" class="list-group-item flex-row">
          <c8y-loading></c8y-loading>
        </div>
      </ng-container>
    </div>

    <div *ngIf="totalPages && page !== totalPages" class="list-actions">
      <button
        type="button"
        class="btn btn-default"
        (click)="loadNextPage()"
        translate
      >
        Load more
      </button>
      <small *ngIf="pollingEnabled" class="text-muted" translate>
        alarms-widget.info.load-page-stop-realtime
      </small>
    </div>
  </ng-container>
</div>

<!-- no alarms -->
<ng-template #noAlarms>
  <div class="c8y-empty-state c8y-empty-state--horizontal">
    <i class="c8y-icon-duocolor c8y-icon c8y-icon-alert-idle"></i>
    <div>
      <p>
        <strong>{{ "alarms-widget.info.no-alarms--title" | translate }}</strong>
      </p>
      <small>
        {{ "alarms-widget.info.no-alarms--details" | translate }}
      </small>
    </div>
  </div>
</ng-template>

<!-- loading -->
<ng-template #loadingData>
  <c8y-loading class="m-t-16"></c8y-loading>
</ng-template>
