<ng-container *ngIf="severity && display === 'severity'">
  <ng-container [ngSwitch]="severity">
    <ng-container *ngSwitchCase="'CRITICAL'">
      <i
        c8yIcon="warning"
        class="status critical"
        container="body"
        [tooltip]="'alarm-icon.severity--critical' | translate"
        [placement]="placement"
      ></i>
    </ng-container>
    <ng-container *ngSwitchCase="'MAJOR'">
      <i
        c8yIcon="exclamation-circle"
        class="status major"
        container="body"
        [tooltip]="'alarm-icon.severity--major' | translate"
        [placement]="placement"
      ></i>
    </ng-container>
    <ng-container *ngSwitchCase="'MINOR'">
      <i
        c8yIcon="exclamation-circle"
        class="status minor"
        container="body"
        [tooltip]="'alarm-icon.severity--minor' | translate"
        [placement]="placement"
      ></i>
    </ng-container>
    <ng-container *ngSwitchCase="'WARNING'">
      <i
        c8yIcon="circle"
        class="status warning"
        container="body"
        [tooltip]="'alarm-icon.severity--warning' | translate"
        [placement]="placement"
      ></i>
    </ng-container>
  </ng-container>
</ng-container>

<ng-container *ngIf="status && display === 'status'">
  <ng-container [ngSwitch]="status">
    <ng-container *ngSwitchCase="'ACTIVE'">
      <i
        c8yIcon="bell"
        class="status active"
        container="body"
        [tooltip]="'alarm-icon.status--active' | translate"
        [placement]="placement"
      >
      </i>
    </ng-container>
    <ng-container *ngSwitchCase="'ACKNOWLEDGED'">
      <i
        c8yIcon="bell-slash"
        class="status acknowledged"
        container="body"
        [tooltip]="'alarm-icon.status--acknowledged' | translate"
        [placement]="placement"
      >
      </i>
    </ng-container>
    <ng-container *ngSwitchCase="'CLEARED'">
      <i
        c8yIcon="check-circle"
        class="text-muted"
        container="body"
        [tooltip]="'alarm-icon.status--cleared' | translate"
        [placement]="placement"
      >
      </i>
    </ng-container>
  </ng-container>
</ng-container>
